@import "main.css";

/* HEADER */
.nav-access {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-access img {
    width: 170px;
    padding-left: 10px;
}

.nav-access ul {
    display: inherit;
    margin-right: 20px;
    gap: 10px;
    background-color: var(--gray);
    padding: 20px 15px 20px 0;
    margin: 0;
}

.nav-access ul li i {
    margin-right: 5px;
    font-size: 18px;
}

.nav-access ul li a {
    background-color: var(--gray);

    text-decoration: none;
    color: var(--dark-gray);
}

.passport {
    padding-right: 10px;
    border-right: solid 0.5px rgb(163, 159, 159);
}

.nav-access .call a {
    padding: 22px 10px 20px 20px;
    color: white;
    background-color: var(--violet-primary);
    font-weight: 500;
    height: 100%;
    border-radius: 0 0 0 20px;
}


.fa-passport {
    color: rgb(235, 133, 150);
}

.sections ul {
    margin: 25px 0 10px 0;
    display: flex;
    justify-content: space-around;
}

.sections ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-gray);
    text-decoration: none;
}

/* SECTION ROUTE PAGE */

.sections ul li a i {
    font-size: 25px;
    margin-bottom: 10px;

}

/* SECTION CONTROL */

.control-container {
    height: 201px;
    background-color: var(--violet-secondary);
    display: flex;
    color: white;
}

.control {
    width: 100%;
    height: 84%;
    background-color: var(--violet-primary);
    margin: auto;
    border-radius: 6px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.control__paquete {
    display: flex;
    gap: 50px;
}

.control__paquete p {
    font-weight: 500;
    font-size: 20px;
}

.control__paquete button {
    border: none;
    border-radius: 20px;
    padding: 6px 40px;
    font-family: 'Rubik';
    font-weight: 500;
    background-color: white;
    color: var(--violet-despegar);
    cursor: pointer;
}

.control__form {
    display: flex;
    gap: 5px;
    flex-direction: row;
    width: 100%;
    padding: 15px 0;
    
}

.control__form-origen-destino {
    display: flex;    
    margin-right: 50px;
    gap: 0;
}

.control__form-origen-destino input {
    border: solid 1.5px var(--gray);
    font-size: 1rem;
    width: 100px;
}
.control__form-origen-destino .origen {
    padding-right: 5px;
    margin-right: 0;
    border-radius: 8px 0 0 8px;
}
.control__form-origen-destino .destino {
    padding-left: 5px;
    margin-left: 0;
    border-radius: 0 8px 8px 0;
}



.control__form-fechas {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    max-width: 200px;
    height: 60px;
    margin-right: 50px;
}

.control__form-fechas .partida input,
.control__form-fechas .regreso input {
    margin: 0;
    padding-bottom: 20px;
    width: 100%;
}


.control__form-fechas .partida input {
    border: none;
    border-radius: 8px 0 0 8px;
    text-align: center;
}

.control__form-fechas .regreso input {
    border: none;
    border-radius: 0 8px 8px 0;
    text-align: center;
}

.control__form-habitaciones{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: auto 20px;
    background-color: white;
    width: 150px;
    padding: 18px 0;
    border-radius: 8px;
    font-size: 20px;
    color: var(--violet-despegar);
}

.control__form-habitaciones .fa-user,
.control__form-habitaciones .fa-bed{
    margin-right: 5px;
}

.container__btn {
    margin: auto;
}

.btn-buscar {
    padding: 10px 25px;
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.home-main{
    padding: 10px 30px 30px 30px;
    background-color: var(--gray);
}

.home-subtitle{
    
    font-size: 24px;
    font-weight: 450;
    color: var(--dark-gray);
}

.home-cards{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    height: 285px;
}

.card{
    text-decoration: none;
    color: black;
    margin-top: 15px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 2px 2px 10px black; */
}

.imagen {
    
    background-size: cover;
    background-position: center center;
    height: 200px;
}

.img-1{
    background-image: url('https://media.staticontent.com/media/pictures/e04655d7-c52a-4c9f-ab10-a8695ada48ac/400x300');
}

.img-2{
    background-image: url('https://media.staticontent.com/media/pictures/115deb36-03d7-41d0-a2c1-33ec7500665d/400x300');
}

.img-3{
    background-image: url('https://media.staticontent.com/media/pictures/2b794047-4762-428e-8c2a-bea6df8c1d51/400x300');
}

.card-title{
    font-size: 20px;
    font-weight: 500;
    padding: 15px ;
    background-color: white;
}